<main ng-controller="installCtrl" style="width: 600px">
  <h1>Repression</h1>

  <p>PNAS recently published <a href="http://www.pnas.org/content/111/24/8788.long">a paper by Adam Kramer et al</a> revealing that back in January 2012, Facebook made its users happier or sadder for a week. On purpose! How dare they? The uproar on the interwebs is deafening.
  </p>

  <p>You're probably like me. When I want to be manipulated, I will ask to be manipulated<sup>1</sup>, dammit!</p>

  <h2>So you want to be manipulated...</h2>
  <p>
    All you need is a <a href="https://www.facebook.com/">Facebook</a> account and <a href="https://www.google.com/intl/en-US/chrome/browser/">Chrome</a>!
  </p>

  <p style="text-align: center">
    <button ng-click="install()">Install "Facebook Repression" Chrome Extension</button>
  </p>
  <p style="font-weight: bold">{{install_result}}</p>

  <p>
    Or install from the <a href="https://chrome.google.com/webstore/detail/facebook-repression/hmfpcpkjkhfegmageccfkekcdbfdffdn">Chrome Webstore page</a>.
  </p>

  <p>
    When you download the extension above and log on to Facebook, the system will flip a coin, sentencing you to be happy or sad for a week—the duration of the experiment. On {{expires | date:"longDate"}}, we will email a survey to you at your <a href="#"><i>username</i>@facebook.com</a> email address, which will ask you to judge whether you have been happier or sadder than usual. After answering, we will reveal which side of the coin you actually got, and show you all the posts that you missed on Facebook (at least the text part of these posts).
  </p>

  <hr>

  <h3>Code</h3>
  <p>
    All the code, minus the LIWC lexicon, can be found at <a href="https://github.com/chbrown/repression">github.com/chbrown/repression</a>.
  </p>

  <h3>Credit</h3>
  <p>
    Thanks to <a href="http://www.peoplepattern.com/">People Pattern</a> for supporting part of the development of this experiment.
  </p>
</main>

<footer style="width: 600px">
  <sup>1</sup>Actually I think it's quite likely that the analytics / user experience team at Facebook is snorting with derision, &ldquo;And they think <em>that</em> was bad.&rdquo; <!-- Seriously, I think by now with all the Snowden stuff it's pretty clear that you should stop thinking these huge conglomerate corporations (Google, Facebook, Twitter) are your friends. -->
</footer>
